.body {
    background-image: url('images/1625870542_11-kartinkin-com-p-oboi-mnogo-kotikov-krasivie-11.jpg'); /* Replace 'your-background-image.jpg' with the actual image file path */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}