body {
    font-family: "Georgia", serif;
    font-size: 20px;
    color: #332518;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;
    margin-right: 10px;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(45deg, #5C4938 25%, #F5B782 25%, #F5B782 50%, #5C4938 50%, #5C4938 75%, #F5B782 75%);
    text-stroke: 2px #F5B782; /* добавляем обводку */
}

.name {
    position: absolute;
    top: 1%;
    left: 12%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;

    color: white;
    font-family: Pribambas, serif;
    font-size: 72px;
    text-align: center;
    -webkit-text-stroke: 1px #5C4955; /* добавляем обводку */
}

.slogan{
    display: flex;
    justify-content: right;

    color: white;
    font-family: London, serif;
    font-weight: bold;
    font-size: 32px;
    text-align: right;
    padding-bottom: 10px;
}

.link_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: Pribambas, serif;
    font-size: 50px;
    text-align: center;
    padding: 15px 0;
    -webkit-text-stroke: 2px #F5B777; /* добавляем обводку */
}

.description{
    display: flex;
    flex-direction: column;

    .reason_question{
        color: #332518;
        font-family: Calibri, serif;
        font-size: 30px;
        background-color: #C2A68D;
        text-align: left;
        margin-left: 60px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .reason_item{
        color: #332518;
        font-family: Calibri, serif;
        font-size: 20px;
        font-style: italic;
        margin-left: 60px;
    }
}

.courses{
    display: flex;
    flex-direction: column;

    .courses_title{
        color: #332518;
        font-family: Calibri, serif;
        font-size: 30px;
        background-color: #C2A68D;
        text-align: left;
        margin-left: 60px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .courses_menu_item{
        color: #332518;
        font-family: Calibri, serif;
        font-size: 20px;
        font-style: italic;
        margin-left: 60px;
    }
}

@media (max-width: 768px) {
    .description_image .image {
        display: none;
    }
}

.description_image{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .image {
        height: 20%;
        width: 20%;
        align-items: center;
    }
}
.courses_table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    margin: 0 auto; /* Центрирование таблицы */
}

.courses_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content; /* Размещение строк под другой строкой */
}

.courses_cell {
    padding: 10px;
    border: 1px solid black;
}

.courses_header {
    font-weight: bold;
    background-color: lightgray;
}


.courses_odd {
    background-color: #f2f2f2;
}

.courses_even {
    background-color: #e6e6e6;
}


.support_links {
    display: flex;
    justify-content: center;

    .support_item{
        color: #5C4938;
        text-align: center;
        font-family: London, serif;
        font-size: 20px;
        background-color: bisque;
    }
}